@charset "UTF-8";
/* COLORES */
/* BORDES */
/* ESPACIADOS */
/* BREAKPOINTS */
/* MEDIA QUERIES */
/* FLEX CENTER */
.text-container, .header-section section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOTÓN */
/* CARD */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.header-section {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  z-index: 1000;
}
.header-section section {
  font-size: 2rem;
  color: #333;
}
.header-section h2 {
  font-family: "BBH Hegarty", sans-serif;
  font-size: 3rem;
  margin: 10px 0;
}

.navbar {
  background-color: #e3f2fd;
  margin: 15px;
}

.navbar-nav {
  margin-top: 15px !important;
}

.nav-link {
  font-size: 1rem;
}
@media (min-width: 576px) {
  .nav-link {
    font-size: 1.5rem;
  }
}

.active {
  background-color: #0d6efd !important;
}

footer {
  background-color: #0A1931;
  color: #F6FAFD;
  padding: 20px;
}
footer li {
  margin: 10px;
}
footer a {
  text-decoration: none;
  color: #F6FAFD;
  font-weight: bold;
}
footer a:hover {
  color: #59d0f4;
}

.container {
  position: relative;
  text-align: center;
  height: 70vh;
  padding-top: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6078431373);
  color: #ffffff;
}
@media (min-width: 576px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 100vw;
  }
}

.img-fondo {
  width: 100%;
  height: 70vh;
  position: absolute;
  background-image: url("../img/imagen-fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-container {
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.text-container button {
  background-color: #59d0f4;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.info-card {
  background-color: #1A3D63;
  border-radius: 20px;
  padding: 15px;
  color: #F6FAFD;
  font-size: 1.5rem;
  margin: 10px;
}
.info-card h2 {
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .info-card {
    width: 40%;
  }
}

.section-carreras {
  text-align: center;
  height: 30vh;
  padding-top: 80px;
  width: 100%;
  color: white;
}

.section-carreras-carousel {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

.img-carreras {
  object-fit: cover;
  height: 30vh;
}
@media (min-width: 576px) {
  .img-carreras {
    height: 50vh;
  }
}

.carreras-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-carreras {
  width: 80vw;
  margin: 20px;
}
@media (min-width: 576px) {
  .card-carreras {
    width: 40vw;
  }
}
@media (min-width: 1024px) {
  .card-carreras {
    width: 30vw;
  }
}

@media (min-width: 1024px) {
  .card-body {
    font-size: 2rem !important;
  }
}

.contact-section {
  background-color: #1A3D63;
  height: 80vh;
}

.contact-card {
  max-width: 85%;
  background: #ffffff;
  border-radius: 8px;
  padding: 1.75rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}
@media (min-width: 576px) {
  .contact-card {
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .contact-card {
    max-width: 30%;
  }
}

.btn-submit {
  padding: 0.75rem;
  border-radius: 8px;
  font-weight: 600;
}
@media (min-width: 576px) {
  .btn-submit {
    width: 40%;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .btn-submit {
    width: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
